<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"

        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.Seek"
        tools:targetApi="31">
        <activity
            android:name=".Register"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Login"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".lost_found_post"
            android:exported="false" />
        <activity
            android:name=".Ordering_landing"
            android:exported="false" />
        <activity
            android:name=".Confirmbooking"
            android:exported="false" />
        <activity
            android:name=".Cabin"
            android:exported="false" />
        <activity
            android:name=".Booking_landing"
            android:exported="false" />
        <activity
            android:name=".Bmu_Map"
            android:exported="false" />
        <activity
            android:name=".smoothie"
            android:exported="false" />
        <activity
            android:name=".Mess"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>